title #{title}
meta(http-equiv="content-type", content="text/html")
meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
meta(name="keywords", content="js es6 web html css sass linux mongodb node")
meta(name="description", content="This is TaoQuixote's personal blog, it content's something about web development and something about linux、database、reprocessing language and scripts")
meta(name="author", content="TaoQuixote taojihede 陶吉诃德")